<?xml version="1.0" encoding="UTF-8"?>
<deployment>

	<applications>
		<application appKey="client1" appSecret="client1" appName="client1" />
	</applications>

	<services>
		<service name="basic" interface="test.BasicAPI">
			<provider version="1" class="test.BasicService" default="true" />
		</service>
		<service name="hello" interface="test.example.Hello">
			<provider version="1" class="test.example.HelloImpl" default="true" />
			<provider version="2" class="test.example.Hello2Impl"
				/>
		</service>

		<!-- <service name="hello1" servers="127.0.0.1:8082" interface="test.example.Hello" 
			/> <service name="userMsg1" servers="127.0.0.1:8082" interface="com.hxrainbow.bcs.message.client.MessageSendService" 
			/> -->
	</services>

	<security-settings>
		<!-- <security-setting appKey="client1" service="sendMsg"/> -->
		<!-- <security-setting appKey="client1" service="hello1" /> -->
		<security-setting appKey="client1" service="hello"
			version="1" />

		<!-- <security-setting appKey="server1" service="helloMsg" version="2"/> -->
		<!-- <security-setting appKey="server1" service="userMsg"/> <security-setting 
			appKey="server1" service="userMsg1"/> -->
		<security-setting appKey="client1" service="basic" />
	</security-settings>
</deployment>